nav ul {
  display: flex;
  text-align: center;
  padding: 16px;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: rgb(156, 141, 151);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Orelega One", cursive;
}

a:hover {
  color: rgb(214, 192, 201);
}

.header {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  width: 100%;
}
body {
  background-color: rgb(209, 202, 197);
}

h1 {
  text-align: center;
  font-family: "Limelight", cursive;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  font-family: "Limelight", cursive;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

article {
  text-align: center;
  padding: 5%;
  background-color: rgb(187, 180, 176);
}

footer {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5%;
  background-color: rgb(187, 180, 176);
}

.billede1 {
  display: flex;
  justify-content: center;
  background-color: rgb(187, 180, 176);
  padding-top: 5%;
}

button {
  text-decoration: none;
  list-style: none;
  background-color: rgb(156, 141, 151);
  padding: 2%;
}

p {
  text-align: justify;
  font-family: Georgia, "Times New Roman", Times, serif;
}
img {
  max-width: 100%;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  text-decoration: none;
  list-style-type: none;
}

@media (max-width: 600px) {
  nav ul {
    display: flex;
    text-align: center;
    padding: 16px;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: rgb(156, 141, 151);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  a {
    text-decoration: none;
    color: white;
    font-family: "Orelega One", cursive;
  }

  a:hover {
    color: rgb(214, 192, 201);
  }

  .header {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    width: 100%;
  }

  h1 {
    text-align: center;
    font-family: "Limelight", cursive;
  }

  h2 {
    text-align: center;
    font-family: "Limelight", cursive;
  }

  article {
    text-align: center;
    background-color: rgb(187, 180, 176);
  }

  ul {
    text-decoration: none;
    list-style-type: none;
  }

  li {
    text-decoration: none;
    list-style-type: none;
  }
}
